.uix-buttons-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--uix-buttons-button-width, auto);
  height: var(--uix-buttons-button-height, auto);
  padding: 0 var(--uix-buttons-button-padding-x, 0);
  border-width: var(--uix-buttons-button-border-width, 0);
  border-style: var(--uix-buttons-button-border-style, solid);
  border-color: var(--uix-buttons-button-border-color, transparent);
  border-radius: var(--uix-buttons-button-border-radius, 0);
  color: var(--uix-buttons-button-color, #000);
  background: var(--uix-buttons-button-background, transparent);
  cursor: var(--uix-buttons-button-cursor, pointer);
  transition: var(
    --uix-buttons-button-transition,
    color 0.3s,
    background-color 0.3s,
    border-color 0.3s
  );
  font-family: var(--uix-buttons-button-font-family, inherit);
  font-size: var(--uix-buttons-button-font-size, inherit);
  font-weight: var(--uix-buttons-button-font-weight, inherit);
  text-transform: var(--uix-buttons-button-text-transform, initial);
}

.uix-buttons-button:hover {
  border-color: var(
    --uix-buttons-button-border-color-hover,
    var(--uix-buttons-button-border-color, transparent)
  );
  color: var(--uix-buttons-button-color-hover, var(--uix-buttons-button-color, #000));
  background: var(
    --uix-buttons-button-background-hover,
    var(--uix-buttons-button-background, transparent)
  );
}

.uix-buttons-button:active,
.uix-buttons-button--active {
  border-color: var(
    --uix-buttons-button-border-color-active,
    var(
      --uix-buttons-button-border-color-hover,
      var(--uix-buttons-button-border-color, transparent)
    )
  );
  color: var(
    --uix-buttons-button-color-active,
    var(--uix-buttons-button-color-hover, var(--uix-buttons-button-color, #000))
  );
  background: var(
    --uix-buttons-button-background-active,
    var(--uix-buttons-button-background-hover, var(--uix-buttons-button-background, transparent))
  );
}

.uix-buttons-button:disabled,
.uix-buttons-button--disabled {
  border-color: var(
    --uix-buttons-button-border-color-disabled,
    var(--uix-buttons-button-border-color, transparent)
  );
  color: var(--uix-buttons-button-color-disabled, var(--uix-buttons-button-color, #000));
  background: var(
    --uix-buttons-button-background-disabled,
    var(--uix-buttons-button-background, transparent)
  );
  cursor: default;
  pointer-events: none;
}
