.uix-inputs-text-field-simple {
  display: block;
  width: var(--uix-inputs-text-field-simple-width, 100%);
}

.uix-inputs-text-field-simple__label {
  width: 100%;
  display: block;
  font-family: var(--uix-inputs-text-field-simple-label-font-family, inherit);
  font-size: var(--uix-inputs-text-field-simple-label-font-size, inherit);
  font-style: var(--uix-inputs-text-field-simple-label-font-style, inherit);
  font-weight: var(--uix-inputs-text-field-simple-label-font-weight, inherit);
  color: var(--uix-inputs-text-field-simple-label-color, #000);
  margin-bottom: var(--uix-inputs-text-field-simple-label-margin-bottom, 0);
}

.uix-inputs-text-field-simple__input {
  width: 100%;
  display: block;
  padding: 0 var(--uix-inputs-text-field-simple-padding-x, 0);
  height: var(--uix-inputs-text-field-simple-height, auto);
  border-width: var(--uix-inputs-text-field-simple-border-width, 0);
  border-style: var(--uix-inputs-text-field-simple-border-style, solid);
  border-color: var(--uix-inputs-text-field-simple-border-color, transparent);
  border-radius: var(--uix-inputs-text-field-simple-border-radius, 0);
  background: var(--uix-inputs-text-field-simple-background, transparent);
  font-family: var(--uix-inputs-text-field-simple-font-family, inherit);
  font-size: var(--uix-inputs-text-field-simple-font-size, inherit);
  font-weight: var(--uix-inputs-text-field-simple-font-weight, inherit);
  text-align: var(--uix-inputs-text-field-simple-text-align, left);
  color: var(--uix-inputs-text-field-simple-color, #000);
  transition:
    color 0.3s,
    border-color 0.3s;
}

.uix-inputs-text-field-simple__input:hover {
  border-color: var(
    --uix-inputs-text-field-simple-border-color-hover,
    var(--uix-inputs-text-field-simple-border-color, transparent)
  );
  color: var(
    --uix-inputs-text-field-simple-color-hover,
    var(--uix-inputs-text-field-simple-color, #000)
  );
}

.uix-inputs-text-field-simple__input:focus {
  border-color: var(--uix-inputs-text-field-simple-border-color-focus, transparent);
  color: var(--uix-inputs-text-field-simple-color-focus, #000);
}

.uix-inputs-text-field-simple__input::placeholder {
  color: var(--uix-inputs-text-field-simple-color-placeholder, #00000077);
}

.uix-inputs-text-field-simple--without-arrows .uix-inputs-text-field-simple__input {
  -moz-appearance: textfield;
  appearance: textfield;
}

.uix-inputs-text-field-simple--without-arrows
  .uix-inputs-text-field-simple__input::-webkit-outer-spin-button,
.uix-inputs-text-field-simple--without-arrows
  .uix-inputs-text-field-simple__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
