.uix-component-button-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: none;
  color: #000;
  background: transparent;
  cursor: pointer;
  transition:
    color 0.3s,
    background-color 0.3s,
    border-color 0.3s;
}

.uix-component-button-button:hover {
  border: var(--border-hover, none);
  color: var(--color-hover, #000);
  background: var(--background-hover, transparent);
}

.uix-component-button-button:active,
.uix-component-button-button.uix--active {
  border: var(--border-active, var(--border-hover, none));
  color: var(--color-active, var(--color-hover, #000));
  background: var(--background-active, var(--background-hover, transparent));
}

.uix-component-button-button:disabled,
.uix-component-button-button.uix--disabled {
  border: var(--border-disabled, transparent);
  color: var(--color-disabled, #000);
  background: var(--background-disabled, transparent);
  cursor: default;
  pointer-events: none;
}

.uix-simple-file-field {
  display: block;
  width: var(--width, 100%);
}

.uix-simple-file-field__label {
  width: 100%;
  display: block;
  font-family: var(--label-font-family, inherit);
  font-size: var(--label-font-size, inherit);
  font-weight: var(--label-font-weight, inherit);
  line-height: var(--label-line-height, normal);
  color: var(--label-color, inherit);
  margin: var(--label-margin, 0);
}

.uix-simple-file-field.uix--disabled .uix-smart-text-field__label {
  color: var(--label-color-disabled, var(--label-color, inherit));
}

.uix-simple-file-field.uix--error .uix-smart-text-field__label {
  color: var(--label-color-error, var(--label-color, inherit));
}

.uix-simple-file-field__inner {
  display: flex;
  height: var(--inner-height, auto);
}

.uix-simple-file-field__inner-label {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
  border: var(--inner-label-border, none);
  padding: var(--inner-label-padding, 0);
}

.uix-simple-file-field.uix--disabled .uix-simple-file-field__inner-label {
  border: var(--inner-label-border-disabled, var(--inner-label-border, none));
}

.uix-simple-file-field.uix--error .uix-simple-file-field__inner-label {
  border: var(--inner-label-border-error, var(--inner-label-border, none));
}

.uix-simple-file-field__input {
  position: absolute;
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.uix-simple-file-field__placeholder {
  font-family: var(--placeholder-font-family, inherit);
  font-size: var(--placeholder-font-size, inherit);
  font-weight: var(--placeholder-font-weight, inherit);
  color: var(--placeholder-color, inherit);
}

.uix-simple-file-field__file-icon {
  font-size: var(--file-icon-font-size, inherit);
  color: var(--file-icon-color, inherit);
  margin: var(--file-icon-margin, 0);
}

.uix-simple-file-field__file-name {
  font-family: var(--file-name-font-family, inherit);
  font-size: var(--file-name-font-size, inherit);
  font-weight: var(--file-name-font-weight, inherit);
  color: var(--file-name-color, inherit);
  margin: var(--file-name-margin, 0);
}

.uix-simple-file-field__file-size {
  font-family: var(--file-size-font-family, var(--file-name-font-family, inherit));
  font-size: var(--file-size-font-size, var(--file-name-font-size, inherit));
  font-weight: var(--file-size-font-weight, var(--file-name-font-weight, inherit));
  color: var(--file-size-color, var(--file-name-color, inherit));
  margin: var(--file-size-margin, var(--file-name-margin, 0));
}

.uix-simple-file-field__error-icon {
  margin-left: auto;
  font-size: var(--error-icon-font-size, inherit);
  color: var(--error-icon-color, inherit);
}

.uix-simple-file-field__button {
  width: fit-content;
  flex-shrink: 0;
}

.uix-simple-file-field__help-text {
  width: 100%;
  font-family: var(--help-font-family, inherit);
  font-size: var(--help-font-size, inherit);
  font-weight: var(--help-font-weight, inherit);
  text-align: var(--help-text-align, left);
  color: var(--help-color, inherit);
  margin: var(--help-margin, 0);
}

.uix-simple-file-field.uix--disabled .uix-simple-file-field__help-text {
  color: var(--help-disabled-color, var(--help-color, inherit));
}

.uix-simple-file-field.uix--error .uix-simple-file-field__help-text {
  color: var(--help-error-color, var(--help-color, inherit));
}

.uix-smart-text-field {
  display: block;
  width: var(--width, 100%);
}

.uix-smart-text-field__head {
  display: flex;
  align-items: center;
  margin: var(--head-margin, 0);
}

.uix-smart-text-field__label {
  width: 100%;
  display: block;
  font-family: var(--label-font-family, inherit);
  font-size: var(--label-font-size, inherit);
  font-weight: var(--label-font-weight, inherit);
  line-height: var(--label-line-height, normal);
  color: var(--label-color, inherit);
}

.uix-smart-text-field.uix--disabled .uix-smart-text-field__label {
  color: var(--label-color-disabled, var(--label-color, inherit));
}

.uix-smart-text-field.uix--error .uix-smart-text-field__label {
  color: var(--label-color-error, var(--label-color, inherit));
}

.uix-smart-text-field__symbols-length {
  margin-left: auto;
  font-family: var(--symbols-length-font-family, inherit);
  font-size: var(--symbols-length-font-size, inherit);
  font-weight: var(--symbols-length-font-weight, inherit);
  line-height: var(--symbols-length-line-height, normal);
  color: var(--symbols-length-color, inherit);
}

.uix-smart-text-field__inner {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  border: var(--input-border, none);
  border-radius: var(--input-border-radius, 0);
  background: var(--input-background, transparent);
  transition:
    color 0.3s,
    border-color 0.3s,
    background-color 0.3s;
}

.uix-smart-text-field__inner:hover {
  border: var(--input-border-hover, var(--input-border-focus, var(--input-border, none)));
  color: var(--input-color-hover, var(--input-color-focus, var(--input-color, inherit)));
}

.uix-smart-text-field__inner:has(.uix-smart-text-field__input:focus) {
  border: var(--input-border-focus, var(--input-border, none));
  color: var(--input-color-focus, var(--input-color, inherit));
  background: var(--input-background-focus, var(--input-background, transparent));
}

.uix-smart-text-field.uix--disabled .uix-smart-text-field__inner {
  border: var(--input-border-disabled, var(--input-border, none));
  color: var(--input-color-disabled, var(--input-color, inherit));
  background: var(--input-background-disabled, var(--input-background, transparent));
}

.uix-smart-text-field.uix--error .uix-smart-text-field__inner {
  border: var(--input-border-error, var(--input-border, none));
  color: var(--input-color-error, var(--input-color, inherit));
  background: var(--input-background-error, var(--input-background, transparent));
}

.uix-smart-text-field__input {
  width: 100%;
  display: block;
  padding: var(--input-padding, 0 var(--input-padding-x, 0));
  height: var(--input-height, auto);
  min-height: var(--input-min-height, 0);
  font-family: var(--input-font-family, inherit);
  font-size: var(--input-font-size, inherit);
  font-weight: var(--input-font-weight, inherit);
  text-align: var(--input-text-align, left);
  color: var(--input-color, inherit);
  flex: 1;
}

.uix-smart-text-field__input::placeholder {
  font-family: var(--input-font-family, inherit);
  font-size: var(--input-font-size, inherit);
  font-weight: var(--input-font-weight, inherit);
  text-align: var(--input-text-align, left);
  color: var(--input-placeholder-color, inherit);
}

.uix-smart-text-field.uix--disabled .uix-smart-text-field__input::placeholder {
  color: var(--input-placeholder-color-disabled, inherit);
}

.uix-smart-text-field.uix--without-arrows .uix-smart-text-field__input {
  -moz-appearance: textfield;
  appearance: textfield;
}

.uix-smart-text-field.uix--without-arrows .uix-smart-text-field__input::-webkit-outer-spin-button,
.uix-smart-text-field.uix--without-arrows .uix-smart-text-field__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.uix-smart-text-field__help-text {
  width: 100%;
  font-family: var(--help-font-family, inherit);
  font-size: var(--help-font-size, inherit);
  font-weight: var(--help-font-weight, inherit);
  text-align: var(--help-text-align, left);
  color: var(--help-color, inherit);
  margin: var(--help-margin, 0);
}

.uix-smart-text-field.uix--error .uix-smart-text-field__help-text {
  color: var(--help-error-color, var(--help-color, inherit));
}

.uix-smart-text-field__suffix-container {
  display: flex;
  align-items: center;
  padding: var(--suffix-container-padding, 0);
}

.uix-smart-text-field.uix--textarea .uix-smart-text-field__suffix-container {
  position: absolute;
  top: var(--suffix-container-top, 0);
  right: var(--suffix-container-right, 0);
}

.uix-smart-text-field__suffix {
  font-family: var(--suffix-text-font-family, inherit);
  font-size: var(--suffix-text-font-size, inherit);
  font-weight: var(--suffix-text-font-weight, inherit);
  color: var(--suffix-text-color, inherit);
  margin: var(--suffix-text-margin, 0);
}

.uix-smart-text-field__success-icon,
.uix-smart-text-field__error-icon {
  font-size: var(--suffix-icon-font-size, inherit);
  margin: var(--suffix-icon-margin, 0);
}

.uix-smart-text-field__success-icon {
  color: var(--suffix-icon-success-color, var(--suffix-text-color, inherit));
}

.uix-smart-text-field__error-icon {
  color: var(--suffix-icon-error-color, var(--suffix-text-color, inherit));
}

.uix-component-input-text-field {
  display: block;
  width: var(--width, 100%);
}

.uix-component-input-text-field__label {
  width: 100%;
  display: block;
  font-family: var(--label-font-family, inherit);
  font-size: var(--label-font-size, inherit);
  font-style: var(--label-font-style, inherit);
  font-weight: var(--label-font-weight, inherit);
  color: var(--label-color, #000);
  margin-bottom: var(--label-margin-bottom, 0);
}

.uix-component-input-text-field.uix--disabled .uix-component-input-text-field__label {
  color: var(--label-color-disabled, var(--label-color, #000));
  cursor: default;
}

.uix-component-input-text-field__input {
  width: 100%;
  display: block;
  padding: 0 var(--input-padding-x, 0);
  height: var(--input-height, auto);
  border: var(--input-border, none);
  border-radius: var(--input-border-radius, 0);
  background: var(--input-background, transparent);
  font-family: var(--input-font-family, inherit);
  font-size: var(--input-font-size, inherit);
  font-weight: var(--input-font-weight, inherit);
  text-align: var(--input-text-align, left);
  color: var(--input-color, #000);
  transition:
    color 0.3s,
    border-color 0.3s;
}

.uix-component-input-text-field__input:hover {
  border: var(--input-border-hover, var(--input-border-focus, var(--input-border, none)));
  color: var(--input-color-hover, var(--input-color-focus, var(--input-color, #000)));
}

.uix-component-input-text-field__input:focus {
  border: var(--input-border-focus, var(--input-border, none));
  color: var(--input-color-focus, var(--input-color, #000));
}

.uix-component-input-text-field.uix--disabled .uix-component-input-text-field__input {
  border: var(--input-border-disabled, var(--input-border, none));
  background: var(--input-background-disabled, var(--input-background, transparent));
  color: var(--input-color-disabled, var(--input-color, #000));
}

.uix-component-input-text-field__input::placeholder {
  color: var(--input-color-placeholder, #00000077);
}

.uix-component-input-text-field.uix--without-arrows .uix-component-input-text-field__input {
  -moz-appearance: textfield;
  appearance: textfield;
}

.uix-component-input-text-field.uix--without-arrows
  .uix-component-input-text-field__input::-webkit-outer-spin-button,
.uix-component-input-text-field.uix--without-arrows
  .uix-component-input-text-field__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
