.uix-widget-card-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--uix-widget-card-empty-state-width, 100%);
  height: var(--uix-widget-card-empty-state-height, auto);
  border-width: var(--uix-widget-card-empty-state-border-width, 0);
  border-style: var(--uix-widget-card-empty-state-border-style, solid);
  border-color: var(--uix-widget-card-empty-state-border-color, transparent);
  border-radius: var(--uix-widget-card-empty-state-border-radius, 0);
  padding: var(--uix-widget-card-empty-state-padding, 0);
  background: var(--uix-widget-card-empty-state-background, transparent);
}

.uix-widget-card-empty-state__label {
  font-family: var(--uix-widget-card-empty-state-label-font-family, inherit);
  font-size: var(--uix-widget-card-empty-state-label-font-size, inherit);
  font-weight: var(--uix-widget-card-empty-state-label-font-weight, inherit);
  line-height: var(--uix-widget-card-empty-state-label-line-height, initial);
  margin-bottom: var(--uix-widget-card-empty-state-label-margin-bottom, 0);
  color: var(--uix-widget-card-empty-state-label-color, inherit);
}

.uix-widget-card-empty-state__description {
  font-family: var(--uix-widget-card-empty-state-description-font-family, inherit);
  font-size: var(--uix-widget-card-empty-state-description-font-size, inherit);
  font-weight: var(--uix-widget-card-empty-state-description-font-weight, inherit);
  line-height: var(--uix-widget-card-empty-state-description-line-height, initial);
  color: var(--uix-widget-card-empty-state-description-color, inherit);
}
